<header class="header">
  <div class="container" style="position: relative;">
    <a href="#/" class="logo">
      <img class="logo" src="/assets/images/kai-logo.png"></img>
    </a>
    <div class="top-menu">
        <a class="active" href="#/main">Main</a>
        <a href="#/archiv">Archiv</a>
        <a href="#/export">Export</a>
    </div>
    <li class="dropdown profile">
      <a class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{getLoggedUser()}} <span class="caret caret-settings"></span></a>
      <ul class="dropdown-menu dropdown-menu-right">
        <!-- <li><a href="#/desktop-my-upgrades">Passwort ändern</a></li>
        <li role="separator" class="divider"></li> -->
        <li><a href="#logout">Ausloggen</a></li>
      </ul>
    </li>
  </div>
</header>
