<ng-include src="'/app/components/navbar/navbar.view.html'"></ng-include>

<div class="container">
  <div class="row toolbar">
    <div class="col-md-12">
      <a class="btn btn-success btn-add pull-left" ng-click="selectedCompany || createCompany()" ng-disabled="selectedCompany"><i class="material-icons">add</i> Neuen Mandant hinzufügen</a>
      <div class="search pull-right">
        <span class="search-icon"></span>
        <input class="search-input pull-right" ng-model="companySearch" type="text" placeholder="Suche…"><i class="search-icon"></i></input>
      </div>
    </div>
  </div>
  <div class="row companies">
    <div class="col-md-12">
      <div class="row company-header" ng-if="!selectedCompany">
        <div class="col-md-6">
          <h2 class="list-title">Aktive mandanten <span class="counter" ng-if="companies && companies.length > 0 && filteredCompanies.length > 0">{{filteredCompanies.length}}</span></h1>
        </div>
        <div class="col-md-1 company-info-header" ng-if="companies.length > 0 && filteredCompanies.length > 0">
          <span>BENUTZER</span>
        </div>
        <div class="col-md-1 company-info-header" ng-if="companies.length > 0 && filteredCompanies.length > 0">
          <span>PROJEKTE</span>
        </div>
        <div class="col-md-1 company-info-header" ng-if="companies.length > 0 && filteredCompanies.length > 0">
          <span>MODULE</span>
        </div>
        <div class="col-md-2 company-info-header" ng-if="companies.length > 0 && filteredCompanies.length > 0">
          <span>LIZENZLAUFZEIT</span>
        </div>
      </div>
      <div class="company" ng-if="!companies || companies.length === 0">
        <p class="empty">Keine aktiven Mandanten vorhanden...<p>
      </div>
      <div class="company" ng-if="companies.length > 0 && (!filteredCompanies || filteredCompanies.length === 0)">
        <p class="empty">Kein Ergebnis zu Ihrer Suche...<p>
      </div>
      <div ng-repeat="company in companies | filter:companySearch as filteredCompanies">
        <div class="company" ng-class="getSelectedClass(company.id)" ng-click="toggleCompany(company.id)">
            <div ng-class="(selectedCompany && selectedCompany === company.id) ? 'col-md-9' : 'col-md-6'">
              <h1 ng-class="(selectedCompany && selectedCompany === company.id) ? 'title-selected' : 'title'" >{{company.title || 'MANDANT'}}</h1>
              <h2 class="subtitle" ng-if="selectedCompany !== company.id">{{company.zip_code}} {{company.city}}</h2>
            </div>
            <div class="col-md-1 company-info-additional" ng-if="selectedCompany !== company.id">
              <span>{{company.count_users}}</span>
            </div>
            <div class="col-md-1 company-info-additional" ng-if="selectedCompany !== company.id">
              <span>{{company.count_users_per_project}}</span>
            </div>
            <div class="col-md-1 company-info-additional" ng-if="selectedCompany !== company.id">
              <!-- <span>Alle</span> -->
            </div>
            <div class="col-md-2 company-info-additional" ng-click="datepickerVisibility = !datepickerVisibility">
              <span ng-class="selectedCompany === company.id ? 'underlined':''">{{formatDate(company.license_to_date)}}</span>
            </div>
            <div class="col-md-1 datepicker-container" ng-if="selectedCompany === company.id">
              <datepicker date-format="yyyy-MM-dd" date-set="{{company.license_to_date}}" datepicker-show="{{datepickerVisibility}}">
                <input class="datepicker-input" ng-model="dateModel" ng-change="company.license_to_date = dateModel" type="text"/>
              </datepicker>
            </div>
            <div class="col-md-1 company-settings" ng-if="selectedCompany !== company.id">
              <span class="caret caret-settings"></span>
            </div>
        </div>
        <div class="row edit-panel" ng-if="selectedCompany === company.id">
          <form name="editForm">
            <div class="col-md-6 company-panel">
              <span class="block-title">ANGABEN ZUR FIRMA</span>
              <div class="row">
                <input type="text" required placeholder="Firmenname" class="company-input col-md-6" ng-model="company.title"/>
                <input type="text" required placeholder="Addresse" class="company-input col-md-6" ng-model="company.street"/>
              </div>
              <div class="row">
                <input type="text" required placeholder="PLZ" class="company-input col-md-4" ng-model="company.zip_code"/>
                <input type="text" required placeholder="Land" class="company-input col-md-4" ng-model="company.city"/>
                <input type="text" required placeholder="Stadt" class="company-input col-md-4" ng-model="company.province"/>
              </div>
              <div class="row">
                <div class="count-users col-md-6">
                  <input type="text" required placeholder="Unlimitiert" class="company-input " ng-model="company.count_users"/>
                  <span class="input-helper">Max Anzahl der User</span>
                </div>
                <div class="count-users col-md-6">
                  <input type="text" required max="{{company.count_users}}" placeholder="Unlimitiert" class="company-input " ng-model="company.count_users_per_project"/>
                  <span class="input-helper">Max Anzahl der Projekte</span>
                  <span class="input-heler" ng-show="editForm.company.count_users_per_project.$error.max">The value must be less than {{company.count_users}}!</span>
                </div>
              </div>
              <!-- <div class="row">
                <input type="text" class="company-input col-md-6" ng-model="company.title"/>
                <input type="text" class="company-input col-md-6" ng-model="company.street"/>
              </div>
              <div class="row">
                <input type="text" class="company-input col-md-6" ng-model="company.title"/>
                <input type="text" class="company-input col-md-6" ng-model="company.street"/>
              </div> -->
            </div>
            <div class="col-md-6 company-owner-panel">
              <span class="block-title">ANGABEN ZUR ANSPRECHPERSON</span>
              <div class="row">
                <button class="company-input btn-select col-md-6" ng-class="company.ownerProfile.salutation === 'Herr' ? 'btn-selected' : ''" ng-click="company.ownerProfile.salutation = 'Herr'"><i class="material-icons">done</i> Herr</button>
                <button class="company-input btn-select col-md-6" ng-class="company.ownerProfile.salutation === 'Frau' ? 'btn-selected' : ''" ng-click="company.ownerProfile.salutation = 'Frau'"><i class="material-icons">done</i> Frau</button>
              </div>
              <div class="row">
                <input type="text" required class="company-input col-md-6" placeholder="Vorname" ng-model="company.ownerProfile.first_name"/>
                <input type="text" required class="company-input col-md-6" placeholder="Nachname" ng-model="company.ownerProfile.last_name"/>
              </div>
              <div class="row">
                <input type="text" required class="company-input col-md-12" placeholder="E-Mail" ng-model="company.ownerProfile.email"/>
              </div>
              <div class="row">
                <input type="text" required class="company-input col-md-12" placeholder="Telefon" ng-model="company.ownerProfile.phone"/>
              </div>
              <div class="row">
                <input type="text" class="company-input col-md-12" placeholder="Website" ng-model="company.ownerProfile.web_site"/>
              </div>
            </div>
            <div class="col-md-12 action-buttons">
              <a class="btn btn-danger btn-remove pull-left" ng-if="selectedCompany != -1" ng-click="removeCompany(company.id)">Löschen</a>
              <a class="btn btn-success btn-save pull-right" ng-click="editForm.$invalid || saveCompany(company.id)" ng-disabled="editForm.$invalid">Speichern <i class="material-icons">done</i></a>
              <a class="btn btn-success btn-archive pull-right" ng-if="selectedCompany != -1">Archiv</a>
              <a class="btn btn-success btn-export pull-right" ng-if="selectedCompany != -1">Export</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
