.login-container {
  height: 100vh;
  display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
  justify-content: center;

  .logo {
    margin-bottom: 74px;
  }

  form {
    .inputs-container {
      position: relative;
      input {
      	font-size: 18px;
        font-weight: 800;
      	text-align: center;
      	color: #4a4a4a;
        border-color: rgba(95, 95, 102, 0.2);
        border-radius: 0px;
        width: 320px;
        height: 60px;
        box-shadow: none;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          opacity: 0.5;
          font-weight: 300;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          opacity: 0.5;
          font-weight: 300;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          opacity: 0.5;
          font-weight: 300;
        }
        &:-moz-placeholder { /* Firefox 18- */
          opacity: 0.5;
          font-weight: 300;
        }

        &.username-input {
          border-bottom: none;
        }

        &:hover {
          box-shadow: none;
          border-color: rgba(95, 95, 102, 0.2);
        }

        &:focus {
          box-shadow: none;
          border-color: rgba(95, 95, 102, 0.2);
        }

        &.red-border {
        	color: #ed2c44;
        }
      }

      .pseudo-circle {
        position: absolute;
        width: 38px;
        height: 38px;
        top: 42px;
        background: white;
        z-index: 2;

        &-left {
          left: -16px;
        }

        &-right {
          right: -16px;
        }
      }
    }

    .btn-login {
      height: 50px;
      width: 220px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 0px;
      margin-top: 64px;
	    font-size: 18px;
      color: #fff;
      font-weight: 300;
      text-transform: uppercase;
      background-color: $accentColor;
    }

    .btn-login-disabled {
      background-color: #5f5f66;
    }

    &.form-errored {
      input {
        color: #ed2c44 !important;
      }
    }
  }
}

.error-message {
  position: absolute;
  width: 100%;
  bottom: 64px;
  font-size: 14px;
  text-align: center;
  color: #5f5f66;
}
